<div class="col-lg-6">
    <!-- Blog post-->
    <div class="card mb-4">
        <%= link_to home_path(1) do %>
            <img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="...">
        <% end %>
        <div class="card-body">
            <div class="small text-muted">January 1, 2021</div>
            <h2 class="card-title h4">Post Title</h2>
            <p class="cardƒ-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
            <%= link_to "Read more", home_path(1), class: "btn btn-primary"%>
        </div>
    </div>
</div>
