<!-- Blog entries-->
<div class="col-lg-8">
  <!-- Featured blog post-->
  <div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..."></a>
    <div class="card-body">
      <div class="small text-muted">January 1, 2021</div>
      <h2 class="card-title">Featured Post Title</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
      <a class="btn btn-primary" href="#!">Read more →</a>
    </div>
  </div>
  <!-- Nested row for non-featured blog posts-->
  <div class="row">
    <% 10.times do %>
      <%= render "post" %>
    <% end %>
  </div>
  <%= render 'layouts/user/pagination' %>
</div>
